:root {
  --themeBgSecondary: #1c1f26;
  --themeBgPrimary: #0e1217;
  --themeBgTertiary: #17191f;;
  --themeBgNotification: #2d313a;
  --themeDividerPrimary: #a8b3cf;
  --themeDividerSecondary: #a8b3cf66;
  --themeDividerTertiary: #a8b3cf33;
  --themeDividerQuaternary: #a8b3cf14;
  --themeButtonActive: #a8b3cf33;
  --themeFloat: #a8b3cf14;
  --themeLabelPrimary: #fff;
  --themeLabelSeconday: #cfd6e6;
  --themeLabelTertiary: #a8b3cf;
  --themeLabelPrimary: #a8b3cfa3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--themeBgPrimary);
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

