@media screen and (max-width: 1024px) {
    .navbar {
        display: none;
        transition: width 3s;
    }
    .topbar {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .bottom {
        display: none;
        transition: width 3s;
    }
    .topBottom {
        display: none;
    }
}

.animate {
    transform: translateX(24) 3s;
}

